.DS_Store
/.build
/Packages

# Don't ignore the generated Xcode project - it is needed if this module is included in a Cartfile.
# /*.xcodeproj

xcuserdata/
IDEWorkspaceChecks.plist
/Build
/DerivedData
