name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos:
    strategy:
      matrix:
        config:
          - debug
          - release
    name: macOS
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.4.app
    - name: Run tests
      run: make test-${{ matrix.config }}

  examples:
    strategy:
      matrix:
        config:
          - Debug
          - Release
    name: Examples
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.4.app
    - name: Run tests
      run: CONFIG=${{ matrix.config }} make test-examples

  linux:
    strategy:
      matrix:
        config:
          - debug
          - release
    name: Linux
    runs-on: ubuntu-latest
    container: swift:5.10
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: apt-get update && apt-get install -y build-essential libcurl4-openssl-dev
      - name: Run tests
        run: make test-${{ matrix.config }}
      - name: Build for static-stdlib
        run: CONFIG=${{ matrix.config }} make build-for-static-stdlib

  # wasm:
  #   name: Wasm
  #   runs-on: macos-14
  #   steps:
  #     - uses: actions/checkout@v4
  #     - name: Select Xcode
  #       run: sudo xcode-select -s /Applications/Xcode_15.4.app
  #     - name: Select Swift version
  #       run: echo 'wasm-DEVELOPMENT-SNAPSHOT-2024-07-08-a' > .swift-version
  #     - name: Build
  #       run: swift run carton bundle

  windows:
    name: Windows
    strategy:
      matrix:
        os: [windows-latest]
        config:
          - debug
          - release
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-5.10-release
          tag: 5.10-RELEASE
      - name: Set long paths
        run: git config --system core.longpaths true
      - uses: actions/checkout@v4
      - name: Build
        run: swift build -c ${{ matrix.config }}
      - name: Run tests (debug only)
        run: swift test
