name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: MacOS
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      run: make test

  ubuntu:
    name: Ubuntu
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run tests
      run: make test
  wasm:
     name: SwiftWASM
     runs-on: ubuntu-latest
     strategy:
       matrix:
         include:
           - { toolchain: wasm-5.6.0-RELEASE }

     steps:
       - uses: actions/checkout@v2
       - run: echo "${{ matrix.toolchain }}" > .swift-version
       - uses: swiftwasm/swiftwasm-action@v5.6
         with:
           shell-action: carton build
