name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: macOS
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.4.app
    - name: Run tests
      run: make test

  linux:
    strategy:
      matrix:
        swift:
          - '5.10'
    name: Ubuntu (Swift ${{ matrix.swift }})
    runs-on: ubuntu-latest
    container: swift:${{ matrix.swift }}
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: apt-get update && apt-get install -y build-essential libcurl4-openssl-dev
      - name: Run tests
        run: make test
      - name: Build for static-stdlib
        run: make build-for-static-stdlib

  wasm:
     name: Wasm
     runs-on: ubuntu-latest
     steps:
       - uses: actions/checkout@v4
       - uses: bytecodealliance/actions/wasmtime/setup@v1
       - uses: swiftwasm/setup-swiftwasm@v1
         with:
           swift-version: "wasm-5.9.2-RELEASE"
       - name: Build tests
         run: swift build --triple wasm32-unknown-wasi --build-tests
       - name: Run tests
         run: wasmtime --dir . .build/debug/swift-issue-reportingPackageTests.wasm

  windows:
    name: Windows
    strategy:
      matrix:
        os: [windows-latest]
        config: ['debug', 'release']
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-5.10-release
          tag: 5.10-RELEASE
      - name: Set long paths
        run: git config --system core.longpaths true
      - uses: actions/checkout@v4
      - name: Build
        run: swift build -c ${{ matrix.config }}
      - name: Run tests (debug only)
        run: swift test
