name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '*'

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  macos:
    strategy:
      matrix:
        config:
          - debug
          - release
        xcode:
          - 15.4
          - 15.2
    name: macOS
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_${{ matrix.xcode }}.app
    - name: Run tests
      run: make test-${{ matrix.config }}

  library-evolution:
    name: Library evolution
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.4.app
    - name: Run tests
      run: make build-for-library-evolution

  examples:
    strategy:
      matrix:
        config:
          - Debug
          - Release
    name: Examples
    runs-on: macos-14
    steps:
    - uses: actions/checkout@v4
    - name: Select Xcode
      run: sudo xcode-select -s /Applications/Xcode_15.4.app
    - name: Run tests
      run: CONFIG=${{ matrix.config }} make test-examples

  linux:
    strategy:
      matrix:
        config:
          - debug
          - release
    name: Linux
    runs-on: ubuntu-latest
    container: swift:5.10
    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: apt-get update && apt-get install -y build-essential libcurl4-openssl-dev
      - name: Run tests
        run: make test-${{ matrix.config }}
      - name: Build for static-stdlib
        run: CONFIG=${{ matrix.config }} make build-for-static-stdlib

  wasm:
    name: SwiftWasm
    runs-on: ubuntu-latest
    strategy:
      matrix:
        toolchain:
          - wasm-5.9.2-RELEASE
          - wasm-DEVELOPMENT-SNAPSHOT-2024-07-08-a
    steps:
      - name: Cache toolchains
        uses: actions/cache@v3
        with:
          path: ~/Library/Developer/Toolchains
          key: ${{ matrix.toolchain }}
      - uses: actions/checkout@v4
      - uses: bytecodealliance/actions/wasmtime/setup@v1
      - uses: swiftwasm/setup-swiftwasm@v1
        with:
          swift-version: ${{ matrix.toolchain }}
      - name: Build tests
        run: swift build --triple wasm32-unknown-wasi --build-tests -Xlinker -z -Xlinker stack-size=$((1024 * 1024))
      - name: Run tests
        run: wasmtime .build/debug/swift-issue-reportingPackageTests.wasm

  windows:
    name: Windows
    strategy:
      matrix:
        os: [windows-latest]
        config:
          - debug
          - release
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: compnerd/gha-setup-swift@main
        with:
          branch: swift-5.10-release
          tag: 5.10-RELEASE
      - name: Set long paths
        run: git config --system core.longpaths true
      - uses: actions/checkout@v4
      - name: Build
        run: swift build -c ${{ matrix.config }}
      - name: Run tests (debug only)
        run: swift test
